
<div class="container container-xl container-xxl">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col ">
      <div class="card" style="min-width: 270px;">
        <div id="screen" class="2py-5" style="background-color: lightgray">
          <div class="row">
            <div class="col">
              <button class="btn fs-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                </svg>
              </button>
            </div>
            <div class="col">
              <div class="bd-placeholder">
                <form [formGroup]="expressionForm" (ngSubmit)="submitForm()" novalidate>
                  <input class="fs-3" style="width: 220px; background-color: lightgray; border: none" type="text" formControlName="expression" required="Veuillez indiquer une expression"/>
                </form>
                <p class="visually-hidden"></p>
              </div>
            </div>

          </div>
        </div>
        <div class="card-body py-5">
          <table>
            <tr>
              <td><button class="fs-2 btn" (click)="add('7')">7</button></td>
              <td><button class="fs-2 btn" (click)="add('8')">8</button></td>
              <td><button class="fs-2 btn" (click)="add('9')">9</button></td>
              <td>
                <button class="btn fs-2" (click)="add('/')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-lg" viewBox="0 0 16 16">
                    <path d="M14.707 1.293a1 1 0 0 1 0 1.414l-12 12a1 1 0 0 1-1.414-1.414l12-12a1 1 0 0 1 1.414 0z"/>
                  </svg>
                </button>
              </td>
              <td><button class="fs-2 btn" type="button" (click)="onPressBackspace()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="27" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
              </svg></button></td>
            </tr>
            <tr>
              <td><button class="fs-2 btn"  (click)="add('4')">4</button></td>
              <td><button class="fs-2 btn" (click)="add('5')">5</button></td>
              <td><button class="fs-2 btn" (click)="add('6')">6</button></td>
              <td>
                <button class="btn fs-2 bg-gradient" (click)="add('*')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                  </svg>
                </button>
              </td>
              <td><button class="btn fs-2" (click)="add('(')">(</button></td>
            </tr>
            <tr>
              <td><button class="fs-2 btn" (click)="add('1')">1</button></td>
              <td><button class="fs-2 btn" (click)="add('2')">2</button></td>
              <td><button class="fs-2 btn" (click)="add('3')">3</button></td>
              <td>
                <button class="btn fs-2" (click)="add('-')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                    <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z"/>
                  </svg>
                </button>
              </td>
              <td><button class="btn fs-2" (click)="add(')')">)</button></td>
            </tr>
            <tr>
              <td><button class="fs-2 btn" (click)="add('0')">0</button></td>
              <td></td>
              <td></td>
              <td>
                <button class="fs-2 btn" (click)="add('+')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                  </svg>
                </button>
              </td>
              <td>
                <button class="fs-2 btn" (click)="submitForm()">
                  =
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
